On this notebook, candidate outliers will be detected and examined on a per case basis.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
data=pd.read_pickle('New_variables.plk')

In [3]:
changes=data.loc[data['last_batter']==1]
normalized_data=StandardScaler().fit_transform(changes._get_numeric_data().iloc[:, 3:])

In [4]:
(np.abs(normalized_data)>3).sum()

2287

In [5]:
(np.abs(normalized_data)>3).sum() / (normalized_data.shape[0]*normalized_data.shape[1])

0.011937821021422308

In [6]:
outliers_count=(normalized_data>3).sum(axis=0)
outliers_count=pd.DataFrame([data._get_numeric_data().iloc[:, 3:].columns, outliers_count]).T
outliers_count

                           0   1
0                   postouts   0
1       post_runner_on_first   0
2      post_runner_on_second   0
3       post_runner_on_third   0
4           PostVisTeamScore  29
..                       ...  ..
83           has_have_double   0
84        pas_since_home_run   7
85         has_have_home_run   0
86  pas_since_points_allowed  12
87   has_have_points_allowed   0

[88 rows x 2 columns]

In [7]:
print(data.PostVisTeamScore.max())
print(data.PostVisTeamScore.mean())
print(data.PostVisTeamScore.std())

20
1.623694998081622
2.0451712125284645

In [8]:
outliers_count=outliers_count.sort_values(1, ascending=False).reset_index(drop=True)
outliers_count.iloc[5:, :]

                                  0   1
5                   hot_cold_double  95
6                 hot_cold_home_run  79
7                          home_run  78
8                 inning_cum_double  70
9   inning_cum_post_runner_on_third  60
..                              ...  ..
83                           single   0
84             post_runner_on_first   0
85             inning_cum_field_out   0
86             inning_cum_strikeout   0
87          has_have_points_allowed   0

[83 rows x 2 columns]

However, the first variables do not have true outliers; they are Boolean variables that happen infrequently.

In [9]:
70/2177

0.03215434083601286

In [10]:
changes[['inning_cum_double']].sort_values('inning_cum_double', ascending=False)

       inning_cum_double
44246                  5
27969                  4
45055                  3
34826                  3
18433                  3
...                  ...
18693                  0
18630                  0
18581                  0
18555                  0
49520                  0

[2177 rows x 1 columns]

As in the previous variables; they are not true outliers, but rather some derivated variables coming from infrequent indicator variables. Moving down the list.

In [11]:
outliers_count.iloc[8:, :]

                                  0   1
8                 inning_cum_double  70
9   inning_cum_post_runner_on_third  60
10              inning_cum_home_run  57
11              pas_since_field_out  47
12   pas_since_post_runner_on_first  47
..                              ...  ..
83                           single   0
84             post_runner_on_first   0
85             inning_cum_field_out   0
86             inning_cum_strikeout   0
87          has_have_points_allowed   0

[80 rows x 2 columns]

In [12]:
changes[['pas_since_field_out']].sort_values('pas_since_field_out', ascending=False).reset_index(drop=True).head(50)

    pas_since_field_out
0                  16.0
1                  15.0
2                  14.0
3                  14.0
4                  14.0
5                  14.0
6                  13.0
7                  12.0
8                  12.0
9                  12.0
10                 11.0
11                 11.0
12                 11.0
13                 11.0
14                 11.0
15                 11.0
16                 11.0
17                 10.0
18                 10.0
19                 10.0
20                 10.0
21                 10.0
22                 10.0
23                 10.0
24                 10.0
25                 10.0
26                 10.0
27                 10.0
28                 10.0
29                 10.0
30                 10.0
31                  9.0
32                  9.0
33                  9.0
34                  9.0
35                  9.0
36                  9.0
37                  9.0
38                  9.0
39                  9.0
40                  9.0
41                  9.0
42                  9.0
43                  9.0
44                  9.0
45                  9.0
46                  9.0
47                  8.0
48                  8.0
49                  8.0

In [13]:
changes[['pas_since_post_runner_on_first']].sort_values('pas_since_post_runner_on_first', ascending=False).reset_index(drop=True).head(50)

    pas_since_post_runner_on_first
0                             27.0
1                             25.0
2                             24.0
3                             23.0
4                             22.0
5                             21.0
6                             20.0
7                             20.0
8                             20.0
9                             20.0
10                            19.0
11                            19.0
12                            19.0
13                            19.0
14                            19.0
15                            18.0
16                            17.0
17                            17.0
18                            17.0
19                            17.0
20                            17.0
21                            17.0
22                            17.0
23                            17.0
24                            16.0
25                            16.0
26                            16.0
27                            16.0
28                            16.0
29                            15.0
30                            15.0
31                            15.0
32                            15.0
33                            14.0
34                            14.0
35                            14.0
36                            14.0
37                            14.0
38                            14.0
39                            14.0
40                            14.0
41                            14.0
42                            14.0
43                            14.0
44                            14.0
45                            14.0
46                            14.0
47                            13.0
48                            13.0
49                            13.0

In [14]:
outliers_count.iloc[12:, :]

                                 0   1
12  pas_since_post_runner_on_first  47
13             pas_since_strikeout  44
14       inning_cum_points_allowed  42
15         hot_cold_points_allowed  41
16                   double_header  38
..                             ...  ..
83                          single   0
84            post_runner_on_first   0
85            inning_cum_field_out   0
86            inning_cum_strikeout   0
87         has_have_points_allowed   0

[76 rows x 2 columns]

In [15]:
display(changes[['PostVisTeamScore']].sort_values('PostVisTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['PostHomeTeamScore']].sort_values('PostHomeTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['score_diff']].sort_values('score_diff', ascending=False).reset_index(drop=True).head(50))

    PostVisTeamScore
0                 20
1                 17
2                 16
3                 16
4                 15
5                 15
6                 15
7                 15
8                 13
9                 13
10                13
11                13
12                12
13                12
14                12
15                12
16                12
17                12
18                11
19                11
20                11
21                11
22                11
23                11
24                11
25                11
26                11
27                11
28                11
29                10
30                10
31                10
32                10
33                10
34                10
35                10
36                10
37                10
38                10
39                10
40                10
41                10
42                 9
43                 9
44                 9
45                 9
46                 9
47                 9
48                 9
49                 9

    PostHomeTeamScore
0                  21
1                  15
2                  14
3                  14
4                  12
5                  12
6                  11
7                  11
8                  11
9                  11
10                 11
11                 11
12                 11
13                 11
14                 11
15                 10
16                 10
17                 10
18                 10
19                 10
20                 10
21                 10
22                 10
23                 10
24                 10
25                 10
26                 10
27                 10
28                  9
29                  9
30                  9
31                  9
32                  9
33                  9
34                  9
35                  9
36                  9
37                  9
38                  9
39                  9
40                  9
41                  9
42                  9
43                  9
44                  9
45                  9
46                  9
47                  8
48                  8
49                  8

    score_diff
0           20
1           15
2           15
3           14
4           14
5           13
6           13
7           12
8           12
9           12
10          12
11          12
12          12
13          12
14          11
15          11
16          11
17          11
18          11
19          11
20          11
21          11
22          10
23          10
24          10
25          10
26          10
27          10
28          10
29          10
30          10
31          10
32           9
33           9
34           9
35           9
36           9
37           9
38           9
39           9
40           9
41           9
42           9
43           9
44           9
45           9
46           9
47           9
48           9
49           9

This may be the first *true* outliers. However, they correspond to true game scores, and therefore there is no need to remove them, as they may have and important meaning for the final model. However, a cap will be used, to avoid extra noise generated by the high scoring games.

In [16]:
outliers_count.iloc[16:, :]

                                  0   1
16                    double_header  38
17  pas_since_post_runner_on_second  34
18                inning_cum_single  33
19                     cum_home_run  32
20                 PostVisTeamScore  29
..                              ...  ..
83                           single   0
84             post_runner_on_first   0
85             inning_cum_field_out   0
86             inning_cum_strikeout   0
87          has_have_points_allowed   0

[72 rows x 2 columns]

In [17]:
changes[['inning_pa']].sort_values('inning_pa', ascending=False).reset_index(drop=True).head(50)

    inning_pa
0          12
1          12
2          11
3          11
4          11
5          10
6          10
7          10
8           9
9           9
10          9
11          9
12          9
13          9
14          9
15          9
16          9
17          9
18          9
19          9
20          9
21          9
22          9
23          8
24          8
25          8
26          8
27          8
28          8
29          8
30          8
31          8
32          8
33          8
34          8
35          8
36          8
37          8
38          8
39          8
40          8
41          8
42          8
43          8
44          8
45          8
46          8
47          8
48          8
49          8

In [18]:
20/changes.shape[0]

0.009186954524575103

In [19]:
outliers_count.iloc[20:, :]

                                   0   1
20                  PostVisTeamScore  29
21                 PostHomeTeamScore  28
22                  pas_since_single  23
23                         inning_pa  23
24  inning_cum_post_runner_on_second  21
..                               ...  ..
83                            single   0
84              post_runner_on_first   0
85              inning_cum_field_out   0
86              inning_cum_strikeout   0
87           has_have_points_allowed   0

[68 rows x 2 columns]

The rest of the variables with candidate outliers are either indicator variables or derived from low occuring indicator variables.

In [20]:
display(changes[['PostVisTeamScore']].sort_values('PostVisTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['PostHomeTeamScore']].sort_values('PostHomeTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['score_diff']].sort_values('score_diff', ascending=False).reset_index(drop=True).head(50))

    PostVisTeamScore
0                 20
1                 17
2                 16
3                 16
4                 15
5                 15
6                 15
7                 15
8                 13
9                 13
10                13
11                13
12                12
13                12
14                12
15                12
16                12
17                12
18                11
19                11
20                11
21                11
22                11
23                11
24                11
25                11
26                11
27                11
28                11
29                10
30                10
31                10
32                10
33                10
34                10
35                10
36                10
37                10
38                10
39                10
40                10
41                10
42                 9
43                 9
44                 9
45                 9
46                 9
47                 9
48                 9
49                 9

    PostHomeTeamScore
0                  21
1                  15
2                  14
3                  14
4                  12
5                  12
6                  11
7                  11
8                  11
9                  11
10                 11
11                 11
12                 11
13                 11
14                 11
15                 10
16                 10
17                 10
18                 10
19                 10
20                 10
21                 10
22                 10
23                 10
24                 10
25                 10
26                 10
27                 10
28                  9
29                  9
30                  9
31                  9
32                  9
33                  9
34                  9
35                  9
36                  9
37                  9
38                  9
39                  9
40                  9
41                  9
42                  9
43                  9
44                  9
45                  9
46                  9
47                  8
48                  8
49                  8

    score_diff
0           20
1           15
2           15
3           14
4           14
5           13
6           13
7           12
8           12
9           12
10          12
11          12
12          12
13          12
14          11
15          11
16          11
17          11
18          11
19          11
20          11
21          11
22          10
23          10
24          10
25          10
26          10
27          10
28          10
29          10
30          10
31          10
32           9
33           9
34           9
35           9
36           9
37           9
38           9
39           9
40           9
41           9
42           9
43           9
44           9
45           9
46           9
47           9
48           9
49           9

In [21]:
data.loc[data['PostVisTeamScore']>17, 'PostVisTeamScore']=18
data.loc[data['PostHomeTeamScore']>15, 'PostHomeTeamScore']=16
data.loc[data['score_diff']>15, 'score_diff']=16

In [22]:
print(data['game_id'][data['PostVisTeamScore']>17])
print(data['game_id'][data['PostHomeTeamScore']>15])
print(data['game_id'][data['score_diff']>15])

44727    2019/09/10/oakmlb-houmlb-1
44728    2019/09/10/oakmlb-houmlb-1
44729    2019/09/10/oakmlb-houmlb-1
44730    2019/09/10/oakmlb-houmlb-1
44731    2019/09/10/oakmlb-houmlb-1
44732    2019/09/10/oakmlb-houmlb-1
44733    2019/09/10/oakmlb-houmlb-1
44734    2019/09/10/oakmlb-houmlb-1
44735    2019/09/10/oakmlb-houmlb-1
Name: game_id, dtype: object
44265    2019/09/08/seamlb-houmlb-1
44266    2019/09/08/seamlb-houmlb-1
44267    2019/09/08/seamlb-houmlb-1
44268    2019/09/08/seamlb-houmlb-1
44269    2019/09/08/seamlb-houmlb-1
44270    2019/09/08/seamlb-houmlb-1
Name: game_id, dtype: object
44268    2019/09/08/seamlb-houmlb-1
44269    2019/09/08/seamlb-houmlb-1
44270    2019/09/08/seamlb-houmlb-1
44727    2019/09/10/oakmlb-houmlb-1
44728    2019/09/10/oakmlb-houmlb-1
44729    2019/09/10/oakmlb-houmlb-1
44730    2019/09/10/oakmlb-houmlb-1
44731    2019/09/10/oakmlb-houmlb-1
44732    2019/09/10/oakmlb-houmlb-1
44733    2019/09/10/oakmlb-houmlb-1
44734    2019/09/10/oakmlb-houmlb-1
Name: game_id, dtype: object

The largest _PostHomeTeamScore_ and _score_diff_ happened on the same game.
Also, the largest _PostVisTeamScore_ and _score_diff_.

In [23]:
data.to_pickle('Outliers.plk')

In [24]:
df = data.drop(['start_id', 'pbp_idx', 'game_id', 'top_bot', 'batter_stands', 'pitcher_id', 'EventType', 'PostVisTeamScore', 'PostHomeTeamScore', 'home_away', 'bats_right', 'throws_right', 'throws', 'next_batter_hand'], axis=1)
df.shape

(49521, 85)

In [25]:
df.columns

Index(['inning', 'postouts', 'post_runner_on_first', 'post_runner_on_second',
       'post_runner_on_third', 'pitches_in_pa', 'pitch_total', 'er_total',
       'runners_on_base', 'score_diff', 'tying_run_on', 'total_outs_recorded',
       'total_bases_allowed', 'opposite_hand', 'end_of_inning',
       'previously_walk', 'consec_walks', 'last_batter', 'double_header',
       'home_team', 'opposite_actual', 'bats_left', 'throws_left',
       'batter_order', 'field_out', 'strikeout', 'single', 'walk', 'double',
       'home_run', 'cum_post_runner_on_first',
       'inning_cum_post_runner_on_first', 'cum_post_runner_on_second',
       'inning_cum_post_runner_on_second', 'cum_post_runner_on_third',
       'inning_cum_post_runner_on_third', 'cum_bats_right',
       'inning_cum_bats_right', 'cum_bats_left', 'inning_cum_bats_left',
       'cum_opposite_actual', 'inning_cum_opposite_actual', 'cum_field_out',
       'inning_cum_field_out', 'cum_strikeout', 'inning_cum_strikeout',
       'cum_single', 'inning_cum_single', 'cum_walk', 'inning_cum_walk',
       'cum_double', 'inning_cum_double', 'cum_home_run',
       'inning_cum_home_run', 'cum_points_allowed', 'points_allowed',
       'inning_cum_points_allowed', 'inning_pa', 'hot_cold_field_out',
       'hot_cold_strikeout', 'hot_cold_single', 'hot_cold_walk',
       'hot_cold_double', 'hot_cold_home_run', 'hot_cold_points_allowed',
       'pas_since_post_runner_on_first', 'has_have_post_runner_on_first',
       'pas_since_post_runner_on_second', 'has_have_post_runner_on_second',
       'pas_since_post_runner_on_third', 'has_have_post_runner_on_third',
       'pas_since_field_out', 'has_have_field_out', 'pas_since_strikeout',
       'has_have_strikeout', 'pas_since_single', 'has_have_single',
       'pas_since_walk', 'has_have_walk', 'pas_since_double',
       'has_have_double', 'pas_since_home_run', 'has_have_home_run',
       'pas_since_points_allowed', 'has_have_points_allowed'],
      dtype='object')

In [26]:
X=df.drop('last_batter', axis=1)

X.columns[X.dtypes=='object']

Index([], dtype='object')

In [27]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

X['constant']=1

pd.Series([variance_inflation_factor(X.values, i) 
               for i in range(X.shape[1])], 
              index=X.columns)

TypeError: ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [34]:
X.sum(axis=0)

start_id                    2019/04/01/anamlb-seamlb-1_4335872019/04/01/an...
pbp_idx                                                                606848
game_id                     2019/04/01/anamlb-seamlb-12019/04/01/anamlb-se...
top_bot                     YYYYYYYYYYYYYYYYYYYYYYYYYNNNNNNNNNNNNNNNNNNNNN...
inning                                                                 166520
                                                  ...
has_have_double                                                         20362
pas_since_home_run                                                     109376
has_have_home_run                                                       17584
pas_since_points_allowed                                               134492
has_have_points_allowed                                                 28208
Length: 99, dtype: object