On this dataset, new variables are created, developed from the original dataset.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('MLBPitcherRemovalData.csv')
data.head()

,start_id,pbp_idx,game_id,top_bot,inning,batter_stands,pitcher_id,throws,EventType,postouts,...,score_diff,tying_run_on,total_outs_recorded,total_bases_allowed,next_batter_hand,opposite_hand,end_of_inning,previously_walk,consec_walks,last_batter
0,2019/04/01/anamlb-seamlb-1_433587,1,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,field_out,1,...,0,0,0,0,R,0.0,0,0,0,0
1,2019/04/01/anamlb-seamlb-1_433587,2,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,hit_by_pitch,1,...,0,0,1,0,L,1.0,0,0,0,0
2,2019/04/01/anamlb-seamlb-1_433587,3,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,force_out,2,...,0,0,1,1,R,0.0,0,0,0,0
3,2019/04/01/anamlb-seamlb-1_433587,4,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,field_out,3,...,0,0,2,1,R,0.0,1,0,0,0
4,2019/04/01/anamlb-seamlb-1_433587,5,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,single,0,...,4,0,3,1,L,1.0,0,0,0,0

In [3]:
data['double_header']=data.game_id.apply(lambda x:x[-1])
data['double_header'].value_counts()

1    48660
2      861
Name: double_header, dtype: int64

In [4]:
data['home_team']=LabelEncoder().fit_transform(data[['top_bot']])
data['home_team'].value_counts()

C:\Users\rober\.conda\envs\ramc\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0    24890
1    24631
Name: home_team, dtype: int64

In [5]:
data['bats_right']=LabelEncoder().fit_transform(data[['batter_stands']])
data['bats_left']=np.abs(data['bats_right']-1)
data['bats_right'].value_counts()

1    29294
0    20227
Name: bats_right, dtype: int64

In [6]:
data['throws_right']=LabelEncoder().fit_transform(data[['throws']])
data['throws_left']=np.abs(data['throws_right']-1)
data['throws_right'].value_counts()

1    33113
0    16408
Name: throws_right, dtype: int64

In [7]:
data['throws'].value_counts()

R    33113
L    16408
Name: throws, dtype: int64

In [8]:
data['field_out']=(data['EventType']=='field_out')+0
data['strikeout']=(data['EventType']=='strikeout')+0
data['single']=(data['EventType']=='single')+0
data['walk']=(data['EventType']=='walk')+0
data['double']=(data['EventType']=='double')+0
data['home_run']=(data['EventType']=='home_run')+0

In [9]:
vars_to_cum=['post_runner_on_first', 'post_runner_on_second', 'post_runner_on_third', 'bats_right', 'bats_left', 'opposite_hand', 'field_out', 'strikeout', 'single', 'walk', 'double', 'home_run']
for var in vars_to_cum:
    data['cum_'+var]=data[['start_id', var]].groupby('start_id').cumsum()
    data['inning_cum_'+var]=data[['start_id', 'inning', var]].groupby(['start_id', 'inning']).cumsum()
data.head()

,start_id,pbp_idx,game_id,top_bot,inning,batter_stands,pitcher_id,throws,EventType,postouts,...,cum_strikeout,inning_cum_strikeout,cum_single,inning_cum_single,cum_walk,inning_cum_walk,cum_double,inning_cum_double,cum_home_run,inning_cum_home_run
0,2019/04/01/anamlb-seamlb-1_433587,1,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,field_out,1,...,0,0,0,0,0,0,0,0,0,0
1,2019/04/01/anamlb-seamlb-1_433587,2,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,hit_by_pitch,1,...,0,0,0,0,0,0,0,0,0,0
2,2019/04/01/anamlb-seamlb-1_433587,3,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,force_out,2,...,0,0,0,0,0,0,0,0,0,0
3,2019/04/01/anamlb-seamlb-1_433587,4,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,field_out,3,...,0,0,0,0,0,0,0,0,0,0
4,2019/04/01/anamlb-seamlb-1_433587,5,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,single,0,...,0,0,1,1,0,0,0,0,0,0

In [10]:
data['cum_points_allowed']=0
data.loc[data['home_away']=='Home', 'cum_points_allowed']=data.loc[data['home_away']=='Home', 'PostVisTeamScore']
data.loc[data['home_away']=='Away', 'cum_points_allowed']=data.loc[data['home_away']=='Away', 'PostHomeTeamScore']
data.head()

,start_id,pbp_idx,game_id,top_bot,inning,batter_stands,pitcher_id,throws,EventType,postouts,...,inning_cum_strikeout,cum_single,inning_cum_single,cum_walk,inning_cum_walk,cum_double,inning_cum_double,cum_home_run,inning_cum_home_run,cum_points_allowed
0,2019/04/01/anamlb-seamlb-1_433587,1,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,field_out,1,...,0,0,0,0,0,0,0,0,0,0
1,2019/04/01/anamlb-seamlb-1_433587,2,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,hit_by_pitch,1,...,0,0,0,0,0,0,0,0,0,0
2,2019/04/01/anamlb-seamlb-1_433587,3,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,force_out,2,...,0,0,0,0,0,0,0,0,0,0
3,2019/04/01/anamlb-seamlb-1_433587,4,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,field_out,3,...,0,0,0,0,0,0,0,0,0,0
4,2019/04/01/anamlb-seamlb-1_433587,5,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,single,0,...,0,1,1,0,0,0,0,0,0,0

In [11]:
data['points_allowed']=data['cum_points_allowed'].diff()
data['points_allowed'][0]=0
data['points_allowed'][data['points_allowed']<0]=0 #Different pitcher.

data['inning_cum_points_allowed']=data[['start_id', 'inning', 'points_allowed']].groupby(['start_id', 'inning']).cumsum()

data[['inning', 'cum_points_allowed','inning_cum_points_allowed']].head(20)

<ipython-input-11-b7c673462df2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['points_allowed'][0]=0
<ipython-input-11-b7c673462df2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['points_allowed'][data['points_allowed']<0]=0 #Different pitcher.

    inning  cum_points_allowed  inning_cum_points_allowed
0        1                   0                        0.0
1        1                   0                        0.0
2        1                   0                        0.0
3        1                   0                        0.0
4        2                   0                        0.0
5        2                   0                        0.0
6        2                   0                        0.0
7        2                   1                        1.0
8        2                   1                        1.0
9        3                   1                        0.0
10       3                   1                        0.0
11       3                   1                        0.0
12       3                   1                        0.0
13       4                   1                        0.0
14       4                   1                        0.0
15       4                   2                        1.0
16       4                   2                        1.0
17       4                   3                        2.0
18       4                   3                        2.0
19       5                   3                        0.0

In [12]:
data['inning_pa']=1
data['inning_pa']=data[['start_id', 'inning', 'inning_pa']].groupby(['start_id', 'inning']).cumsum()

In [13]:
data['next_opposite']=data['throws']!=data['next_batter_hand']

In [14]:
data.columns

Index(['start_id', 'pbp_idx', 'game_id', 'top_bot', 'inning', 'batter_stands',
       'pitcher_id', 'throws', 'EventType', 'postouts', 'post_runner_on_first',
       'post_runner_on_second', 'post_runner_on_third', 'PostVisTeamScore',
       'PostHomeTeamScore', 'home_away', 'pitches_in_pa', 'pitch_total',
       'er_total', 'runners_on_base', 'score_diff', 'tying_run_on',
       'total_outs_recorded', 'total_bases_allowed', 'next_batter_hand',
       'opposite_hand', 'end_of_inning', 'previously_walk', 'consec_walks',
       'last_batter', 'double_header', 'home_team', 'bats_right', 'bats_left',
       'throws_right', 'throws_left', 'field_out', 'strikeout', 'single',
       'walk', 'double', 'home_run', 'cum_post_runner_on_first',
       'inning_cum_post_runner_on_first', 'cum_post_runner_on_second',
       'inning_cum_post_runner_on_second', 'cum_post_runner_on_third',
       'inning_cum_post_runner_on_third', 'cum_bats_right',
       'inning_cum_bats_right', 'cum_bats_left', 'inning_cum_bats_left',
       'cum_opposite_hand', 'inning_cum_opposite_hand', 'cum_field_out',
       'inning_cum_field_out', 'cum_strikeout', 'inning_cum_strikeout',
       'cum_single', 'inning_cum_single', 'cum_walk', 'inning_cum_walk',
       'cum_double', 'inning_cum_double', 'cum_home_run',
       'inning_cum_home_run', 'cum_points_allowed', 'points_allowed',
       'inning_cum_points_allowed', 'inning_pa', 'next_opposite'],
      dtype='object')

No. of pitches between variables? Hypothesis: player will be pulled out when he is playing worse. If the frequency of "bad" events (Home-runs, allowd points, etc) is more common, and the opposite with "good" events (strikeout, field_out), then the playr is likely to be pulled.

In [15]:
vars_pas_since=['post_runner_on_first', 'post_runner_on_second', 'post_runner_on_third', 'field_out', 'strikeout', 'single', 'walk', 'double', 'home_run', 'points_allowed']

#data['pas_since_strikeout']=data["pbp_idx"]-data["pbp_idx"].where(data["strikeout"]==1).groupby(data["start_id"]).ffill()
#data['pas_since_strikeout'].fillna(-1, inplace=True)

for var in vars_pas_since:
    data['pas_since_'+var]=data["pbp_idx"]-data["pbp_idx"].where(data[var]>=1).groupby(data["start_id"]).ffill()
    data['has_have_'+var]=~data['pas_since_'+var].isna()
data.head(50)

,start_id,pbp_idx,game_id,top_bot,inning,batter_stands,pitcher_id,throws,EventType,postouts,...,pas_since_single,has_have_single,pas_since_walk,has_have_walk,pas_since_double,has_have_double,pas_since_home_run,has_have_home_run,pas_since_points_allowed,has_have_points_allowed
0,2019/04/01/anamlb-seamlb-1_433587,1,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,field_out,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
1,2019/04/01/anamlb-seamlb-1_433587,2,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,hit_by_pitch,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
2,2019/04/01/anamlb-seamlb-1_433587,3,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,force_out,2,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
3,2019/04/01/anamlb-seamlb-1_433587,4,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,field_out,3,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
4,2019/04/01/anamlb-seamlb-1_433587,5,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,single,0,...,0.0,True,NaN,False,NaN,False,NaN,False,NaN,False
5,2019/04/01/anamlb-seamlb-1_433587,6,2019/04/01/anamlb-seamlb-1,Y,2,L,433587,R,field_out,1,...,1.0,True,NaN,False,NaN,False,NaN,False,NaN,False
6,2019/04/01/anamlb-seamlb-1_433587,7,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,field_out,2,...,2.0,True,NaN,False,NaN,False,NaN,False,NaN,False
7,2019/04/01/anamlb-seamlb-1_433587,8,2019/04/01/anamlb-seamlb-1,Y,2,L,433587,R,single,2,...,0.0,True,NaN,False,NaN,False,NaN,False,0.0,True
8,2019/04/01/anamlb-seamlb-1_433587,9,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,strikeout,3,...,1.0,True,NaN,False,NaN,False,NaN,False,1.0,True
9,2019/04/01/anamlb-seamlb-1_433587,10,2019/04/01/anamlb-seamlb-1,Y,3,L,433587,R,strikeout,1,...,2.0,True,NaN,False,NaN,False,NaN,False,2.0,True
10,2019/04/01/anamlb-seamlb-1_433587,11,2019/04/01/anamlb-seamlb-1,Y,3,R,433587,R,field_error,1,...,3.0,True,NaN,False,NaN,False,NaN,False,3.0,True
11,2019/04/01/anamlb-seamlb-1_433587,12,2019/04/01/anamlb-seamlb-1,Y,3,L,433587,R,strikeout,2,...,4.0,True,NaN,False,NaN,False,NaN,False,4.0,True
12,2019/04/01/anamlb-seamlb-1_433587,13,2019/04/01/anamlb-seamlb-1,Y,3,R,433587,R,field_out,3,...,5.0,True,NaN,False,NaN,False,NaN,False,5.0,True
13,2019/04/01/anamlb-seamlb-1_433587,14,2019/04/01/anamlb-seamlb-1,Y,4,R,433587,R,double,0,...,6.0,True,NaN,False,0.0,True,NaN,False,6.0,True
14,2019/04/01/anamlb-seamlb-1_433587,15,2019/04/01/anamlb-seamlb-1,Y,4,L,433587,R,field_out,1,...,7.0,True,NaN,False,1.0,True,NaN,False,7.0,True
15,2019/04/01/anamlb-seamlb-1_433587,16,2019/04/01/anamlb-seamlb-1,Y,4,R,433587,R,single,1,...,0.0,True,NaN,False,2.0,True,NaN,False,0.0,True
16,2019/04/01/anamlb-seamlb-1_433587,17,2019/04/01/anamlb-seamlb-1,Y,4,L,433587,R,field_out,2,...,1.0,True,NaN,False,3.0,True,NaN,False,1.0,True
17,2019/04/01/anamlb-seamlb-1_433587,18,2019/04/01/anamlb-seamlb-1,Y,4,R,433587,R,single,2,...,0.0,True,NaN,False,4.0,True,NaN,False,0.0,True
18,2019/04/01/anamlb-seamlb-1_433587,19,2019/04/01/anamlb-seamlb-1,Y,4,L,433587,R,field_out,3,...,1.0,True,NaN,False,5.0,True,NaN,False,1.0,True
19,2019/04/01/anamlb-seamlb-1_433587,20,2019/04/01/anamlb-seamlb-1,Y,5,R,433587,R,field_out,1,...,2.0,True,NaN,False,6.0,True,NaN,False,2.0,True
20,2019/04/01/anamlb-seamlb-1_433587,21,2019/04/01/anamlb-seamlb-1,Y,5,L,433587,R,field_out,2,...,3.0,True,NaN,False,7.0,True,NaN,False,3.0,True
21,2019/04/01/anamlb-seamlb-1_433587,22,2019/04/01/anamlb-seamlb-1,Y,5,R,433587,R,strikeout,3,...,4.0,True,NaN,False,8.0,True,NaN,False,4.0,True
22,2019/04/01/anamlb-seamlb-1_433587,23,2019/04/01/anamlb-seamlb-1,Y,6,R,433587,R,field_out,1,...,5.0,True,NaN,False,9.0,True,NaN,False,5.0,True
23,2019/04/01/anamlb-seamlb-1_433587,24,2019/04/01/anamlb-seamlb-1,Y,6,L,433587,R,single,1,...,0.0,True,NaN,False,10.0,True,NaN,False,6.0,True
24,2019/04/01/anamlb-seamlb-1_433587,25,2019/04/01/anamlb-seamlb-1,Y,6,R,433587,R,single,1,...,0.0,True,NaN,False,11.0,True,NaN,False,7.0,True
25,2019/04/01/anamlb-seamlb-1_608717,1,2019/04/01/anamlb-seamlb-1,N,1,L,608717,R,single,0,...,0.0,True,NaN,False,NaN,False,NaN,False,NaN,False
26,2019/04/01/anamlb-seamlb-1_608717,2,2019/04/01/anamlb-seamlb-1,N,1,R,608717,R,walk,0,...,1.0,True,0.0,True,NaN,False,NaN,False,NaN,False
27,2019/04/01/anamlb-seamlb-1_608717,3,2019/04/01/anamlb-seamlb-1,N,1,R,608717,R,single,0,...,0.0,True,1.0,True,NaN,False,NaN,False,0.0,True
28,2019/04/01/anamlb-seamlb-1_608717,4,2019/04/01/anamlb-seamlb-1,N,1,L,608717,R,strikeout,1,...,1.0,True,2.0,True,NaN,False,NaN,False,1.0,True
29,2019/04/01/anamlb-seamlb-1_608717,5,2019/04/01/anamlb-seamlb-1,N,1,R,608717,R,field_out,2,...,2.0,True,3.0,True,NaN,False,NaN,False,2.0,True
30,2019/04/01/anamlb-seamlb-1_608717,6,2019/04/01/anamlb-seamlb-1,N,1,L,608717,R,single,2,...,0.0,True,4.0,True,NaN,False,NaN,False,0.0,True
31,2019/04/01/anamlb-seamlb-1_608717,7,2019/04/01/anamlb-seamlb-1,N,1,R,608717,R,double,2,...,1.0,True,5.0,True,0.0,True,NaN,False,0.0,True
32,2019/04/01/anamlb-seamlb-1_608717,8,2019/04/01/anamlb-seamlb-1,N,1,R,608717,R,field_out,3,...,2.0,True,6.0,True,1.0,True,NaN,False,1.0,True
33,2019/04/01/anamlb-seamlb-1_608717,9,2019/04/01/anamlb-seamlb-1,N,2,L,608717,R,field_out,1,...,3.0,True,7.0,True,2.0,True,NaN,False,2.0,True
34,2019/04/01/anamlb-seamlb-1_608717,10,2019/04/01/anamlb-seamlb-1,N,2,L,608717,R,single,1,...,0.0,True,8.0,True,3.0,True,NaN,False,3.0,True
35,2019/04/01/anamlb-seamlb-1_608717,11,2019/04/01/anamlb-seamlb-1,N,2,R,608717,R,grounded_into_double_play,3,...,1.0,True,9.0,True,4.0,True,NaN,False,4.0,True
36,2019/04/01/anamlb-seamlb-1_608717,12,2019/04/01/anamlb-seamlb-1,N,3,R,608717,R,field_out,1,...,2.0,True,10.0,True,5.0,True,NaN,False,5.0,True
37,2019/04/01/anamlb-seamlb-1_608717,13,2019/04/01/anamlb-seamlb-1,N,3,L,608717,R,walk,1,...,3.0,True,0.0,True,6.0,True,NaN,False,6.0,True
38,2019/04/01/anamlb-seamlb-1_608717,14,2019/04/01/anamlb-seamlb-1,N,3,R,608717,R,field_out,2,...,4.0,True,1.0,True,7.0,True,NaN,False,7.0,True
39,2019/04/01/anamlb-seamlb-1_608717,15,2019/04/01/anamlb-seamlb-1,N,3,L,608717,R,field_out,3,...,5.0,True,2.0,True,8.0,True,NaN,False,8.0,True
40,2019/04/01/anamlb-seamlb-1_608717,16,2019/04/01/anamlb-seamlb-1,N,4,R,608717,R,field_out,1,...,6.0,True,3.0,True,9.0,True,NaN,False,9.0,True
41,2019/04/01/anamlb-seamlb-1_608717,17,2019/04/01/anamlb-seamlb-1,N,4,R,608717,R,field_out,2,...,7.0,True,4.0,True,10.0,True,NaN,False,10.0,True
42,2019/04/01/anamlb-seamlb-1_608717,18,2019/04/01/anamlb-seamlb-1,N,4,L,608717,R,field_out,3,...,8.0,True,5.0,True,11.0,True,NaN,False,11.0,True
43,2019/04/01/anamlb-seamlb-1_608717,19,2019/04/01/anamlb-seamlb-1,N,5,L,608717,R,field_out,1,...,9.0,True,6.0,True,12.0,True,NaN,False,12.0,True
44,2019/04/01/anamlb-seamlb-1_608717,20,2019/04/01/anamlb-seamlb-1,N,5,R,608717,R,single,1,...,0.0,True,7.0,True,13.0,True,NaN,False,13.0,True
45,2019/04/01/anamlb-seamlb-1_608717,21,2019/04/01/anamlb-seamlb-1,N,5,R,608717,R,single,1,...,0.0,True,8.0,True,14.0,True,NaN,False,14.0,True
46,2019/04/01/balmlb-tormlb-1_605276,1,2019/04/01/balmlb-tormlb-1,N,1,L,605276,R,field_out,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
47,2019/04/01/balmlb-tormlb-1_605276,2,2019/04/01/balmlb-tormlb-1,N,1,R,605276,R,field_out,2,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
48,2019/04/01/balmlb-tormlb-1_605276,3,2019/04/01/balmlb-tormlb-1,N,1,L,605276,R,strikeout,3,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
49,2019/04/01/balmlb-tormlb-1_605276,4,2019/04/01/balmlb-tormlb-1,N,2,R,605276,R,field_out,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False

Beware! What will happen when using the first of the batter? An interaction between pas_since and has_have?

In [16]:
data.fillna(data.max())

,start_id,pbp_idx,game_id,top_bot,inning,batter_stands,pitcher_id,throws,EventType,postouts,...,pas_since_single,has_have_single,pas_since_walk,has_have_walk,pas_since_double,has_have_double,pas_since_home_run,has_have_home_run,pas_since_points_allowed,has_have_points_allowed
0,2019/04/01/anamlb-seamlb-1_433587,1,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,field_out,1,...,28.0,False,30.0,False,28.0,False,28.0,False,30.0,False
1,2019/04/01/anamlb-seamlb-1_433587,2,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,hit_by_pitch,1,...,28.0,False,30.0,False,28.0,False,28.0,False,30.0,False
2,2019/04/01/anamlb-seamlb-1_433587,3,2019/04/01/anamlb-seamlb-1,Y,1,L,433587,R,force_out,2,...,28.0,False,30.0,False,28.0,False,28.0,False,30.0,False
3,2019/04/01/anamlb-seamlb-1_433587,4,2019/04/01/anamlb-seamlb-1,Y,1,R,433587,R,field_out,3,...,28.0,False,30.0,False,28.0,False,28.0,False,30.0,False
4,2019/04/01/anamlb-seamlb-1_433587,5,2019/04/01/anamlb-seamlb-1,Y,2,R,433587,R,single,0,...,0.0,True,30.0,False,28.0,False,28.0,False,30.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49516,2019/09/29/tbamlb-tormlb-1_605483,8,2019/09/29/tbamlb-tormlb-1,N,2,R,605483,L,walk,1,...,6.0,True,0.0,True,3.0,True,28.0,False,3.0,True
49517,2019/09/29/tbamlb-tormlb-1_605483,9,2019/09/29/tbamlb-tormlb-1,N,2,R,605483,L,strikeout,2,...,7.0,True,1.0,True,4.0,True,28.0,False,4.0,True
49518,2019/09/29/tbamlb-tormlb-1_605483,10,2019/09/29/tbamlb-tormlb-1,N,2,R,605483,L,walk,2,...,8.0,True,0.0,True,5.0,True,28.0,False,5.0,True
49519,2019/09/29/tbamlb-tormlb-1_605483,11,2019/09/29/tbamlb-tormlb-1,N,2,L,605483,L,strikeout,3,...,9.0,True,1.0,True,6.0,True,28.0,False,6.0,True
49520,2019/09/29/tbamlb-tormlb-1_605483,12,2019/09/29/tbamlb-tormlb-1,N,3,R,605483,L,strikeout,1,...,10.0,True,2.0,True,7.0,True,28.0,False,7.0,True

In [17]:
# Outliers   er_total?

In [18]:
#data.loc

In [19]:
data._get_numeric_data().iloc[:, 3:]

,postouts,post_runner_on_first,post_runner_on_second,post_runner_on_third,PostVisTeamScore,PostHomeTeamScore,pitches_in_pa,pitch_total,er_total,runners_on_base,...,pas_since_single,has_have_single,pas_since_walk,has_have_walk,pas_since_double,has_have_double,pas_since_home_run,has_have_home_run,pas_since_points_allowed,has_have_points_allowed
0,1,0,0,0,0,0,1,1,0,0,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
1,1,1,0,0,0,0,5,6,0,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
2,2,1,0,0,0,0,4,10,0,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
3,3,1,0,0,0,0,4,14,0,1,...,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False
4,0,0,1,0,0,4,3,17,0,1,...,0.0,True,NaN,False,NaN,False,NaN,False,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49516,1,1,0,0,0,2,10,39,2,1,...,6.0,True,0.0,True,3.0,True,NaN,False,3.0,True
49517,2,0,1,0,0,2,5,44,2,1,...,7.0,True,1.0,True,4.0,True,NaN,False,4.0,True
49518,2,1,1,0,0,2,7,51,2,2,...,8.0,True,0.0,True,5.0,True,NaN,False,5.0,True
49519,3,1,1,0,0,2,6,57,2,2,...,9.0,True,1.0,True,6.0,True,NaN,False,6.0,True
49520,1,0,0,0,0,2,5,62,2,0,...,10.0,True,2.0,True,7.0,True,NaN,False,7.0,True

In [20]:
from sklearn.preprocessing import StandardScaler

In [52]:
changes=data.loc[data['last_batter']==1]
normalized_data=StandardScaler().fit_transform(changes._get_numeric_data().iloc[:, 3:])

In [53]:
(np.abs(normalized_data)>3).sum()

<ipython-input-53-4075275322f0>:1: RuntimeWarning: invalid value encountered in greater
  (np.abs(normalized_data)>3).sum()

1843

In [65]:
(np.abs(normalized_data)>3).sum() / (normalized_data.shape[0]*normalized_data.shape[1])

<ipython-input-65-a9e33a4d6da2>:1: RuntimeWarning: invalid value encountered in greater
  (np.abs(normalized_data)>3).sum()

0.004826058389491985

In [55]:
outliers_count=(normalized_data>3).sum(axis=0)
outliers_count=pd.DataFrame([data._get_numeric_data().iloc[:, 3:].columns, outliers_count]).T
outliers_count

<ipython-input-55-c193356e4141>:1: RuntimeWarning: invalid value encountered in greater
  outliers_count=(normalized_data>3).sum(axis=0)

                           0   1
0                   postouts   0
1       post_runner_on_first   0
2      post_runner_on_second   0
3       post_runner_on_third   0
4           PostVisTeamScore  29
..                       ...  ..
74           has_have_double   0
75        pas_since_home_run   0
76         has_have_home_run   0
77  pas_since_points_allowed   6
78   has_have_points_allowed   0

[79 rows x 2 columns]

In [56]:
print(data.PostVisTeamScore.max())
print(data.PostVisTeamScore.mean())
print(data.PostVisTeamScore.std())

20
1.623694998081622
2.0451712125284645

In [67]:
outliers_count=outliers_count.sort_values(1, ascending=False).reset_index(drop=True)
outliers_count.iloc[5:, :]

                                  0   1
5                 inning_cum_double  70
6   inning_cum_post_runner_on_third  60
7               inning_cum_home_run  57
8               pas_since_field_out  47
9    pas_since_post_runner_on_first  47
..                              ...  ..
74                           single   0
75             post_runner_on_first   0
76             post_runner_on_third   0
77    has_have_post_runner_on_first   0
78          has_have_points_allowed   0

[74 rows x 2 columns]

However, the first variables do not have true outliers; they are Boolean variables that happen infrequently.

In [69]:
70/2177

0.03215434083601286

In [74]:
changes[['inning_cum_double']].sort_values('inning_cum_double', ascending=False)

       inning_cum_double
44246                  5
27969                  4
45055                  3
34826                  3
18433                  3
...                  ...
18693                  0
18630                  0
18581                  0
18555                  0
49520                  0

[2177 rows x 1 columns]

As in the previous variables; they are not true outliers, but rather some derivated variables coming from infrequent indicator variables. Moving down the list.

In [77]:
outliers_count.iloc[8:, :]

                                 0   1
8              pas_since_field_out  47
9   pas_since_post_runner_on_first  47
10             pas_since_strikeout  44
11       inning_cum_points_allowed  42
12               inning_cum_single  33
..                             ...  ..
74                          single   0
75            post_runner_on_first   0
76            post_runner_on_third   0
77   has_have_post_runner_on_first   0
78         has_have_points_allowed   0

[71 rows x 2 columns]

In [88]:
changes[['pas_since_field_out']].sort_values('pas_since_field_out', ascending=False).reset_index(drop=True).head(50)

    pas_since_field_out
0                  16.0
1                  15.0
2                  14.0
3                  14.0
4                  14.0
5                  14.0
6                  13.0
7                  12.0
8                  12.0
9                  12.0
10                 11.0
11                 11.0
12                 11.0
13                 11.0
14                 11.0
15                 11.0
16                 11.0
17                 10.0
18                 10.0
19                 10.0
20                 10.0
21                 10.0
22                 10.0
23                 10.0
24                 10.0
25                 10.0
26                 10.0
27                 10.0
28                 10.0
29                 10.0
30                 10.0
31                  9.0
32                  9.0
33                  9.0
34                  9.0
35                  9.0
36                  9.0
37                  9.0
38                  9.0
39                  9.0
40                  9.0
41                  9.0
42                  9.0
43                  9.0
44                  9.0
45                  9.0
46                  9.0
47                  8.0
48                  8.0
49                  8.0

In [89]:
changes[['pas_since_post_runner_on_first']].sort_values('pas_since_post_runner_on_first', ascending=False).reset_index(drop=True).head(50)

    pas_since_post_runner_on_first
0                             27.0
1                             25.0
2                             24.0
3                             23.0
4                             22.0
5                             21.0
6                             20.0
7                             20.0
8                             20.0
9                             20.0
10                            19.0
11                            19.0
12                            19.0
13                            19.0
14                            19.0
15                            18.0
16                            17.0
17                            17.0
18                            17.0
19                            17.0
20                            17.0
21                            17.0
22                            17.0
23                            17.0
24                            16.0
25                            16.0
26                            16.0
27                            16.0
28                            16.0
29                            15.0
30                            15.0
31                            15.0
32                            15.0
33                            14.0
34                            14.0
35                            14.0
36                            14.0
37                            14.0
38                            14.0
39                            14.0
40                            14.0
41                            14.0
42                            14.0
43                            14.0
44                            14.0
45                            14.0
46                            14.0
47                            13.0
48                            13.0
49                            13.0

In [90]:
outliers_count.iloc[12:, :]

                                  0   1
12                inning_cum_single  33
13                     cum_home_run  32
14                 PostVisTeamScore  29
15  pas_since_post_runner_on_second  28
16                PostHomeTeamScore  28
..                              ...  ..
74                           single   0
75             post_runner_on_first   0
76             post_runner_on_third   0
77    has_have_post_runner_on_first   0
78          has_have_points_allowed   0

[67 rows x 2 columns]

In [101]:
display(changes[['PostVisTeamScore']].sort_values('PostVisTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['PostHomeTeamScore']].sort_values('PostHomeTeamScore', ascending=False).reset_index(drop=True).head(50))
display(changes[['score_diff']].sort_values('score_diff', ascending=False).reset_index(drop=True).head(50))

    PostVisTeamScore
0                 20
1                 17
2                 16
3                 16
4                 15
5                 15
6                 15
7                 15
8                 13
9                 13
10                13
11                13
12                12
13                12
14                12
15                12
16                12
17                12
18                11
19                11
20                11
21                11
22                11
23                11
24                11
25                11
26                11
27                11
28                11
29                10
30                10
31                10
32                10
33                10
34                10
35                10
36                10
37                10
38                10
39                10
40                10
41                10
42                 9
43                 9
44                 9
45                 9
46                 9
47                 9
48                 9
49                 9

    PostHomeTeamScore
0                  21
1                  15
2                  14
3                  14
4                  12
5                  12
6                  11
7                  11
8                  11
9                  11
10                 11
11                 11
12                 11
13                 11
14                 11
15                 10
16                 10
17                 10
18                 10
19                 10
20                 10
21                 10
22                 10
23                 10
24                 10
25                 10
26                 10
27                 10
28                  9
29                  9
30                  9
31                  9
32                  9
33                  9
34                  9
35                  9
36                  9
37                  9
38                  9
39                  9
40                  9
41                  9
42                  9
43                  9
44                  9
45                  9
46                  9
47                  8
48                  8
49                  8

    score_diff
0           20
1           15
2           15
3           14
4           14
5           13
6           13
7           12
8           12
9           12
10          12
11          12
12          12
13          12
14          11
15          11
16          11
17          11
18          11
19          11
20          11
21          11
22          10
23          10
24          10
25          10
26          10
27          10
28          10
29          10
30          10
31          10
32           9
33           9
34           9
35           9
36           9
37           9
38           9
39           9
40           9
41           9
42           9
43           9
44           9
45           9
46           9
47           9
48           9
49           9

This may be the first *true* outliers. However, they correspond to true game scores, and therefore there is no need to remove them, as they may have and important meaning for the final model.

In [94]:
outliers_count.iloc[16:, :]

                                   0   1
16                 PostHomeTeamScore  28
17                         inning_pa  23
18                  pas_since_single  23
19  inning_cum_post_runner_on_second  21
20             inning_cum_bats_right  20
..                               ...  ..
74                            single   0
75              post_runner_on_first   0
76              post_runner_on_third   0
77     has_have_post_runner_on_first   0
78           has_have_points_allowed   0

[63 rows x 2 columns]

In [95]:
changes[['inning_pa']].sort_values('inning_pa', ascending=False).reset_index(drop=True).head(50)

    inning_pa
0          12
1          12
2          11
3          11
4          11
5          10
6          10
7          10
8           9
9           9
10          9
11          9
12          9
13          9
14          9
15          9
16          9
17          9
18          9
19          9
20          9
21          9
22          9
23          8
24          8
25          8
26          8
27          8
28          8
29          8
30          8
31          8
32          8
33          8
34          8
35          8
36          8
37          8
38          8
39          8
40          8
41          8
42          8
43          8
44          8
45          8
46          8
47          8
48          8
49          8

In [97]:
20/changes.shape[0]

0.009186954524575103

In [99]:
outliers_count.iloc[20:, :]

                                  0   1
20            inning_cum_bats_right  20
21  inning_cum_post_runner_on_first  20
22         inning_cum_opposite_hand  20
23                  inning_cum_walk  18
24                    cum_strikeout  16
25         cum_post_runner_on_third  14
26                       score_diff  14
27               cum_points_allowed  14
28                     consec_walks  12
29                         er_total  10
30        cum_post_runner_on_second   9
31             inning_cum_bats_left   9
32         cum_post_runner_on_first   8
33                       cum_single   8
34              total_bases_allowed   8
35                       cum_double   8
36                         cum_walk   7
37         pas_since_points_allowed   6
38                    pitches_in_pa   5
39                    cum_field_out   5
40                    cum_bats_left   4
41                   pas_since_walk   3
42                   cum_bats_right   3
43                cum_opposite_hand   3
44   pas_since_post_runner_on_third   2
45             inning_cum_field_out   0
46                  runners_on_base   0
47                        bats_left   0
48                     throws_right   0
49                       bats_right   0
50              total_outs_recorded   0
51                    opposite_hand   0
52                        home_team   0
53                  previously_walk   0
54                 pas_since_double   0
55                         postouts   0
56             inning_cum_strikeout   0
57                      last_batter   0
58                      pitch_total   0
59                      throws_left   0
60                    end_of_inning   0
61   has_have_post_runner_on_second   0
62                        field_out   0
63                has_have_home_run   0
64                    next_opposite   0
65            post_runner_on_second   0
66    has_have_post_runner_on_third   0
67               pas_since_home_run   0
68                    has_have_walk   0
69               has_have_strikeout   0
70               has_have_field_out   0
71                  has_have_single   0
72                  has_have_double   0
73                        strikeout   0
74                           single   0
75             post_runner_on_first   0
76             post_runner_on_third   0
77    has_have_post_runner_on_first   0
78          has_have_points_allowed   0

    score_diff
0           20
1           15
2           15
3           14
4           14
5           13
6           13
7           12
8           12
9           12
10          12
11          12
12          12
13          12
14          11
15          11
16          11
17          11
18          11
19          11
20          11
21          11
22          10
23          10
24          10
25          10
26          10
27          10
28          10
29          10
30          10
31          10
32           9
33           9
34           9
35           9
36           9
37           9
38           9
39           9
40           9
41           9
42           9
43           9
44           9
45           9
46           9
47           9
48           9
49           9

The rest of the variables with candidate outliers are either indicator variables or derived from low occuring indicator variables.

In [26]:
data.to_pickle('New_variables.plk')